/* #navbar{
    border:1px solid black;
    height: 2vw;
    margin:auto;
    padding-top: 0.5vw;
    padding-right:2.5vw;
/* text-decoration: none; */
    /* font-weight: bold;
    font-size: x-large;
    color: green;
    text-align: right;
} */ */



#new{
    border:1px solid green;
    margin-top:2vw;
    height: 30vw;
    width:30vw;
    margin: auto;
    
}

